.vs
.vsconfig
Assets/TextMesh Pro
Assets/TextMesh Pro.meta
Library
Logs
obj
Packages/packages-lock.json
ProjectSettings/Packages/com.unity.probuilder/Settings.json
ProjectSettings/Packages/com.unity.progrids/Settings.json
Temp
UserSettings
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
btd3.sln
